.title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;

}

.hotel-box {
  height: 150px;
}

.hotel-box:hover {
  background-color: rgba(169, 169, 169, .2);
  cursor: pointer;
}

.star {
  text-align: center;
  color: gold;
  font-weight: bold;
}

.phone {
  margin-top: 20px;
}

.address {
  margin-top: 20px;
}
